* {
  /* margin: 0.2rem; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  border: 1px solid #23252c;
}

.header-logo {
  background-color: #23252c;
  height: 200px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #3366ff;
}

h2 {
  text-align: center;
  color: #ff80ff;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-img {
  flex: 1;
  min-width: 0;
  /* max-width: 33%; */
  border-radius: 2%;
}

.hero-text {
  padding: 1rem;
  flex: 2;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.app-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 20vw));
  gap: 1rem;
  padding: 1rem;
}

.app-entry {
  aspect-ratio: 1/1;
  border: 1px solid #3366ff;
  border-radius: 5%;
  padding: 0.125rem;
  box-shadow: rgba(0, 0, 0, 0.24) 6px 8px 8px;
}

.app-entry > img {
  width: 100%;
  height: auto;
}

.pink {
  color: #ff80ff;
}

.hero-button {
  padding: 0.5rem;
  margin: 1rem;
  background-color: #3366ff;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 6px 8px 8px;
}

/* The container for your AppList */
.app-list-container {
  overflow: hidden;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease;
  max-height: 0;
  opacity: 0;
}

/* The state when the list is visible */
.app-list-container.show {
  max-height: 2000px; /* Set this higher than your list will ever be */
  opacity: 1;
}

footer {
  background-color: #23252c;
  color: white;
  height: 100px;
  font-size: 0.8rem;
}
